.App {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App-body {
	height: 400px;
	font-size: 1.2rem;
}

.App-Header{
	display: flex;
	justify-content: space-between;
	border-bottom: 5px solid #e0354b;
}

