.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  display: flex;
  text-align: center;
  text-align: center;
  color: red;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 3px solid red;
}
.App-body{
  height: 400px;
  width: 100%;
}
.App-footer{
  text-align: center;
  border-top: 3px solid red;
}